
*{
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
}
.container{
  min-height: 100vh;
  /* height: 800px; */
  width: 95%;
  background-color: #B7BF99;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.main{
  width: 70%;
  height: inherit;
  display: flex;
  flex-direction: column;
  
}

