*{
  margin: 0 auto;
  padding: 0 auto;
}
.container{
  height: 800px;
  width: 100%;
  background-color: #46511f;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main{
  width: 65%;
  height: inherit;
  display: flex;
  flex-direction: column;
  
}